Fabric-Monitoring/fuam/Workspaces/Load_PBI_Workspaces_E2E.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "Delete",
        "typeProperties": {
          "enableLogging": false,
          "datasetSettings": {
            "type": "Binary",
            "typeProperties": {
              "location": {
                "type": "LakehouseLocation",
                "folderPath": "raw/workspaces"
              }
            },
            "linkedService": {
              "name": "FUAM_Lakehouse",
              "properties": {
                "type": "Lakehouse",
                "typeProperties": {
                  "artifactId": "cb3304f0-d077-b383-4995-25acaefc087a",
                  "workspaceId": "00000000-0000-0000-0000-000000000000",
                  "rootFolder": "Files"
                },
                "annotations": []
              }
            },
            "annotations": []
          },
          "storeSettings": {
            "type": "LakehouseReadSettings",
            "recursive": true,
            "enablePartitionDiscovery": false
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Delete files temp PBI WS",
        "dependsOn": []
      },
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "RestSource",
            "requestMethod": "GET",
            "paginationRules": {
              "supportRFC5988": "true"
            },
            "httpRequestTimeout": "00:01:40",
            "requestInterval": "00.00:00:00.010"
          },
          "datasetSettings": {
            "type": "RestResource",
            "typeProperties": {
              "relativeUrl": {
                "value": "@string('groups?$filter=isOnDedicatedCapacity eq true&$top=1')\n",
                "type": "Expression"
              }
            },
            "schema": [],
            "externalReferences": {
              "connection": "4cd8f630-f4ec-4066-9054-4ab2bf3832da"
            },
            "annotations": []
          },
          "firstRowOnly": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Fetch Workspace count",
        "dependsOn": [
          {
            "activity": "Delete files temp PBI WS",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "SetVariable",
        "typeProperties": {
          "variableName": "workspace_count",
          "value": {
            "value": "@activity('Fetch Workspace count').output.value[0]['@odata.count']",
            "type": "Expression"
          }
        },
        "policy": {
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Set workspace_count",
        "dependsOn": [
          {
            "activity": "Fetch Workspace count",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "SetVariable",
        "typeProperties": {
          "variableName": "page_count",
          "value": {
            "value": "@add(div(variables('workspace_count'),variables('limit')),1)",
            "type": "Expression"
          }
        },
        "policy": {
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Set page_count",
        "dependsOn": [
          {
            "activity": "Set workspace_count",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "SetVariable",
        "typeProperties": {
          "variableName": "page_array",
          "value": {
            "value": "@range(0,variables('page_count'))",
            "type": "Expression"
          }
        },
        "policy": {
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Set page_array",
        "dependsOn": [
          {
            "activity": "Set page_count",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "ForEach",
        "typeProperties": {
          "isSequential": true,
          "items": {
            "value": "@variables('page_array')",
            "type": "Expression"
          },
          "activities": [
            {
              "type": "SetVariable",
              "typeProperties": {
                "variableName": "currentSkip",
                "value": {
                  "value": "@mul(item(),variables('limit'))",
                  "type": "Expression"
                }
              },
              "policy": {
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Set currentSkip",
              "dependsOn": []
            },
            {
              "type": "Copy",
              "typeProperties": {
                "source": {
                  "type": "RestSource",
                  "requestMethod": "GET",
                  "paginationRules": {
                    "supportRFC5988": "true"
                  },
                  "httpRequestTimeout": "00:01:40",
                  "requestInterval": "00.00:00:00.010",
                  "datasetSettings": {
                    "type": "RestResource",
                    "typeProperties": {
                      "relativeUrl": {
                        "value": "@concat('groups?$filter=isOnDedicatedCapacity eq true&$top=',variables('limit'),'&$skip=', variables('currentSkip'))",
                        "type": "Expression"
                      }
                    },
                    "schema": [],
                    "externalReferences": {
                      "connection": "4cd8f630-f4ec-4066-9054-4ab2bf3832da"
                    },
                    "annotations": []
                  }
                },
                "sink": {
                  "type": "JsonSink",
                  "formatSettings": {
                    "type": "JsonWriteSettings",
                    "filePattern": "arrayOfObjects"
                  },
                  "storeSettings": {
                    "type": "LakehouseWriteSettings"
                  },
                  "datasetSettings": {
                    "type": "Json",
                    "typeProperties": {
                      "location": {
                        "type": "LakehouseLocation",
                        "folderPath": "raw/workspaces",
                        "fileName": {
                          "value": "@concat(item(),'_workspaces.json')",
                          "type": "Expression"
                        }
                      }
                    },
                    "schema": {},
                    "linkedService": {
                      "name": "FUAM_Lakehouse",
                      "properties": {
                        "type": "Lakehouse",
                        "typeProperties": {
                          "artifactId": "cb3304f0-d077-b383-4995-25acaefc087a",
                          "workspaceId": "00000000-0000-0000-0000-000000000000",
                          "rootFolder": "Files"
                        },
                        "annotations": []
                      }
                    },
                    "annotations": []
                  }
                },
                "enableStaging": false
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Fetch Workspaces",
              "dependsOn": [
                {
                  "activity": "Set currentSkip",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            }
          ]
        },
        "name": "ForEach Get Workspaces",
        "dependsOn": [
          {
            "activity": "Set page_array",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "f539813a-61e1-b08b-4626-38870176d0a6",
          "workspaceId": "00000000-0000-0000-0000-000000000000",
          "parameters": {
            "display_data": {
              "value": {
                "value": "@pipeline().parameters.display_data",
                "type": "Expression"
              },
              "type": "bool"
            }
          },
          "sessionTag": "fuam"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "02_Transfer_Workspaces_Unit",
        "dependsOn": [
          {
            "activity": "ForEach Get Workspaces",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "Get Fabric Workspaces",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "RestSource",
            "requestMethod": "GET",
            "paginationRules": {
              "AbsoluteUrl": "$.$.continuationUri"
            },
            "httpRequestTimeout": "00:01:40",
            "requestInterval": "00.00:00:00.010",
            "datasetSettings": {
              "type": "RestResource",
              "typeProperties": {
                "relativeUrl": "workspaces"
              },
              "schema": [],
              "externalReferences": {
                "connection": "c9f138d6-8053-4029-acfa-ceaee22f99b3"
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "JsonSink",
            "formatSettings": {
              "type": "JsonWriteSettings",
              "filePattern": "arrayOfObjects"
            },
            "storeSettings": {
              "type": "LakehouseWriteSettings"
            },
            "datasetSettings": {
              "type": "Json",
              "typeProperties": {
                "location": {
                  "type": "LakehouseLocation",
                  "folderPath": "raw/fabric_workspaces",
                  "fileName": "fabric_workspaces.json"
                }
              },
              "schema": {},
              "linkedService": {
                "name": "FUAM_Lakehouse",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "cb3304f0-d077-b383-4995-25acaefc087a",
                    "workspaceId": "00000000-0000-0000-0000-000000000000",
                    "rootFolder": "Files"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "enableStaging": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Get Fabric Workspaces",
        "description": "https://learn.microsoft.com/en-us/rest/api/fabric/admin/workspaces/list-workspaces?tabs=HTTP",
        "dependsOn": [
          {
            "activity": "Delete temp files Fabric WS",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Delete",
        "typeProperties": {
          "enableLogging": false,
          "datasetSettings": {
            "type": "Binary",
            "typeProperties": {
              "location": {
                "type": "LakehouseLocation",
                "folderPath": "raw/fabric_workspaces"
              }
            },
            "linkedService": {
              "name": "FUAM_Lakehouse",
              "properties": {
                "type": "Lakehouse",
                "typeProperties": {
                  "artifactId": "cb3304f0-d077-b383-4995-25acaefc087a",
                  "workspaceId": "00000000-0000-0000-0000-000000000000",
                  "rootFolder": "Files"
                },
                "annotations": []
              }
            },
            "annotations": []
          },
          "storeSettings": {
            "type": "LakehouseReadSettings",
            "recursive": true,
            "enablePartitionDiscovery": false
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Delete temp files Fabric WS",
        "dependsOn": []
      }
    ],
    "parameters": {
      "display_data": {
        "type": "bool",
        "defaultValue": false
      }
    },
    "variables": {
      "limit": {
        "type": "Integer",
        "defaultValue": 5000
      },
      "page_count": {
        "type": "Integer"
      },
      "currentSkip": {
        "type": "Integer"
      },
      "page_array": {
        "type": "Array"
      },
      "workspace_count": {
        "type": "Integer"
      }
    }
  }
}